@import "./font.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background font-sans text-sm text-primary;
  }

  .bg-app {
    background-image: url("./images/top-bg-gradient.png"),
      url("./images/bottom-bg-gradient.png");
    background-position: top, bottom;
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
  }

  /* Badge Assets background image */
  .bg-badge {
    background-image: url("./images/asset_background.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@layer components {
  /**App Modal styling*/
  .modal-container {
    @apply absolute inset-0 z-[100] min-h-full flex items-center justify-center bg-background/80 backdrop-blur-[10px];
  }

  .modal-content {
    @apply fixed bottom-0 w-full rounded-tl-3xl rounded-tr-3xl border border-solid border-gray-dark bg-background md:relative md:max-w-2xl md:rounded-3xl;
  }
}
